.header
    margin: 50px auto
    +clr
    +r(620)
        margin: 15px auto
    &__container
        max-width: 845px
        margin: 0 auto
        position: relative
    &__logo
        position: absolute
        top: 50%
        left: 0
        transform: translateY(-50%)
        cursor: pointer
        text-decoration: none
        font-size: 26px
        font-family: "Martel"
        line-height: 0.669
        +r(620)
            position: static
            display: block
            clear: left
            margin: 10px auto
            line-height: 1.4
            text-align: center
            width: 100%
            transform: translateY(0)
            +clr
    &__logo:hover
        font-weight: bold
    &__nav
        position: absolute
        top: 50%
        float: right
        right: 0
        transform: translateY(-50%)
        margin-top: -7px
        +clr
        a 
            text-decoration: none
            padding: 5px 0
            border-bottom: 3px solid #ffffff
            font-size: 16px
            font-family: "Martel"
            color: #0e1d2b
            line-height: 1.087
            margin-left: 15px
            float: left
            +r(620)
                position: relative
                line-height: 1.4
                display: block
                width: 100%
                float: none
                margin: 0
                font-size: 20px
        a:hover
            font-weight: bold
            border-bottom: 3px solid #ffa326
            +r(620)
                color: #ffffff
                background-color: #ffa326
        +r(620)
            position: relative
            width: 100%
            clear: right
            text-align: center
            transform: translateY(0)
            left: -50%
            transform: translateX(50%)
            +clr

.logo
    &__part1
        color: #0e1d2b
    &__part2
        color: #ffa326

.footer
    background-color: #050b10
    +clr

.copywrite, .site
    font-size: 12px
    font-family: "Martel"
    color: #ffa326
    line-height: 3.821
    text-align: center

.copywrite
    float: left

.site
    float: right
    +r(620)
        float: left